<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
</head>

<body>
  <div class="container">
    <p class="feedback">
      {% if right == False %}
      Rangt svar, rétt svar er <b>{{ correct }}</b>
      {% elif right == True %}
      Rétt svar!
      {% endif %}
    </p>
    {% if ordfl == 'no' %}
    <a href="/no" class="continue">Halda áfram</a>
    {% elif ordfl == 'so' %}
    <a href="/so" class="continue">Halda áfram</a>
    {% elif ordfl == 'lo' %}
    <a href="/lo" class="continue">Halda áfram</a>
    {% endif %}
    <a href="/" class="continue">Fara aftur á forsíðu</a>
  </div>
</body>

</html>