<!doctype html>
<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Calistoga|Open+Sans|Roboto&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h1>Hverju vilt þú æfa þig í?</h1>
    <div class="categories">
      <button class="button"> <a href="/no"> Nafnorðum </a> </button>
      <button class="button"> <a href="/so"> Sagnorðum </a> </button>
      <button class="button"> <a href="/lo"> Lýsingarorðum </a> </button>
    </div>
  </div>

</body>

</html>