<!doctype html>
<html>

<head>
   <link rel="stylesheet" href="{{ url_for('static', filename='css/noun.css') }}">
</head>

<body>
   <div class="container">
      <form action="/submit" method="POST">
         <label for="answer" name="quest"> Hvernig beygirðu {{ nafno }} í {{ sent }} </label>
         <div class="input">
            <input type="text" name="answer" />
         </div>
         <p> {{ rettsvar }} </p>
         <input type="submit" value="Prófa" class="button" />
      </form>
   </div>
</body>

</html>